{% extends "template/headers.html" %}

{% block add_schedule %}
{% endblock %}

{% block about_us %}
{% endblock %}

{% block search %}
{% endblock %}

{% block logout %}
<button type="button" class="btn btn-outline-light me-2"
        onclick="location.href=`{{ url_for('index') }}`">На главную
</button>
{% endblock %}

{% block img_url %}
    <a href="{{ url_for('admin_index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"/>
        </svg>
    </a>
{% endblock %}


{% block admin %}
    <li><a href="{{ url_for('new_cabinet') }}" class="nav-link px-2 text-white">Добавить кабинет</a></li>
    <li><a href="{{ url_for('new_cabinet_qr') }}" class="nav-link px-2 text-white">Создать QR</a></li>
    <li><a href="{{ url_for('delete_cabinet') }}" class="nav-link px-2 text-white">Удалить кабинет</a></li>
    <li><a href="{{ url_for('work_with_user') }}" class="nav-link px-2 text-white">Сотрудники</a></li>
{% endblock %}

</body>
</html>