<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель Администратора - Главная страница</title>
</head>

<style>
    #admin-panel {
        background-color: rgb(225, 81, 96);
        padding-top: 25px;
        color: white;
    }

    #panel-admin-div {
        height: 115px;
        background-color: rgb(225, 81, 96)
    }
</style>

<body>
{% include 'template/header_admin.html' %}
<div id="panel-admin-div" class="text-center">
    <div class="h-25 d-inline-block" id="admin-panel"><h1>Панель Администратора</h1></div>
</div>

<div class="row" style="max-width: 100%;">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="card" style="margin-top: 25px; margin-left: 25px;">
            <img src="{{ url_for('static', filename='img/admin/Empl.png') }}" class="card-img-top" alt="Работники..." height="260">
            <div class="card-body">
                <h5 class="card-title">Сотрудники</h5>
                <p class="card-text">На этом ресурсе авторизованно уже {{ users|length }} сотрудников!</p>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <center>
            <div class="card" style="margin-top: 25px;">
                <img src="{{ url_for('static', filename='img/admin/Cabinets.jpeg') }}" class="card-img-top" alt="..." height="260">
                <div class="card-body">
                    <h5 class="card-title">Кабинеты и расписания</h5>
                    <p class="card-text">За время работы платформы, на неё было добавленно {{ cabinets|length }} кабинетов и {{ schedules|length }} расписаний!</p>
                </div>
            </div>
        </center>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="card" style="margin-top: 25px; margin-right: 25px;">
            <img src="{{ url_for('static', filename='img/admin/Admin.jpeg') }}" class="card-img-top" alt="..." height="260">
            <div class="card-body">
                <h5 class="card-title">Администраторы</h5>
                <p class="card-text">На сайте зарегестрированно огромное кол-во админов, которые трудятся ради нашего удобства!</p>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 50px;">
        <center><label>Рады снова Вас видеть,  {{ current_user.name }}!</label></center>
    </div>

</div>
<hr>
<br>
<footer class="fixed-bottom" style="margin-left: 15px;">
    <small>© 2022 <a href="https://vk.com/matvey.chekashov" target="_blank" title="Мой ВК" style="text-decoration: none;">Матвей</a> <a href="https://github.com/Ryize" target="_blank" title="Мой GitHub" style="text-decoration: none;">Чекашов</a></small>
</footer>

</body>
</html>