<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Страница не найдена 404</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=1200">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://piratecode.ru">
    <meta property="og:title" content="Piratecode">
    <meta property="og:description" content="Мы занимаемся вёрсткой и программированием веб-сайтов.">
    <meta property="og:image" content="http://piratecode.ru/files/fb-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Piratecode">
    <meta name="twitter:description" content="Мы занимаемся вёрсткой и программированием веб-сайтов.">
    <meta name="twitter:image" content="hhttp://piratecode.ru/files/fb-image.png">

    <link rel="icon" type="image/png" sizes="16x16 32x32 64x64" href="https://piratecode.ru/img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://piratecode.ru/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://piratecode.ru/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://piratecode.ru/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://piratecode.ru/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://piratecode.ru/img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://piratecode.ru/img/favicon/homescreen-192x192.png">

    <link rel="shortcut icon" href="https://piratecode.ru/tpl/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://piratecode.ru/css/style.css?1599722563">
</head>
<body>

<div class="layout js-wrapper">

    <!-- КОНТЕНТ -->

    <main class="wrapper js-wrapper">


        <div class="landscape-disabled">
            <div>Для лучшей читаемости сайта<br> используйте портретную ориентацию.</div>
        </div>


        <!-- 404 -->

        <section id="notfound" class="notfound js-section" data-section="notfound" data-menu="white">
            <div class="content js-notfound-godzilla-text">
                <div class="notfound__content">
                    <h1 class="notfound__heading">
                        Пейдж нот фаунд </h1>
                    <div class="notfound__info">
                        Ошибка 404. Такая страница не&nbsp;существует либо она была удалена.
                    </div>
                    <a class="button" href="{{ url_for('index') }}">на главную</a>
                </div>
            </div>

            <div class="notfound__bg  js-notfound-godzilla-text">
                <div class="notfound__wave-3">
                    <canvas class="js-notfound-wave-3"></canvas>
                </div>
                <div class="notfound__wave-2">
                    <canvas class="js-notfound-wave-2"></canvas>
                </div>
                <div class="notfound__godzilla js-notfound-godzilla">
                    <div class="notfound__godzilla-pet">
                        <div class="notfound__godzilla-in">
                        </div>
                    </div>
                </div>
                <div class="notfound__wave-1">
                    <canvas class="js-notfound-wave-1"></canvas>
                </div>
            </div>
        </section>

    </main>

</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://piratecode.ru/js/libs.min.js?1599722555"></script>
<script src="https://piratecode.ru/js/main.js?1599722555"></script>
</body>
</html>
