<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>На сервере произошла ошибка 500</title>
    <link href="{{ url_for('static', filename='css/error/error500.css') }}" rel="stylesheet">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<body class="loading">

<h1>500</h1>
<h2>На сервере произошла ошибка <b>:(</b></h2>
<h2>Не переживайте, мы её уже исправляем!</h2>
<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            $('body').removeClass('loading');
        }, 1000);
    });

</script>
</body>
</body>
</html>